body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

legend {
  font-family: 'Montserrat', sans-serif;
  padding: 0% 15% 7%;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
  text-align: left;
}

p {
  color: #154360;
}

/* Calculator */

form {
  text-align: center;
  padding: 0 10% 10%;
}

@media (max-width: 1028px) {
  legend {
    text-align: center;
  }
}

form h4 {
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

@media (min-width: 1028px) {
  form h4 {
    text-align: left;
    padding-left: 15%;
  }
}

.calculator-section {
    font-size: 1.25rem;
  font-weight: 900;
}


/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.big-heading-alt {
  font-size: 3.5rem;
  line-height: 1.5;
  color: darkcyan;
  background-color: white;
  padding: 10px;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #82E0AA;
  color: #fff;
  background-image: linear-gradient(125deg,#82E0AA,#ABEBC6,#BCE6EA,#85C1E9);
}

.white-section {
  background-color: #fff;
  color: #154360;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  
}

.nav-item {
  padding: 0 18px;
  color:#fff;
  border-radius: 25px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}


/* Title Section */

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-img {
  width: 80%;
}

/* Features */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ABEBC6;
  margin-bottom: 1rem;
}

.icon:hover {
  color: rgba(89, 141, 117, 0.774);
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}

/* Our Mission */

#title .mission {
    background-image: linear-gradient(125deg,#82E0AA,#ABEBC6,#BCE6EA,#85C1E9);
}

#title .mission-note {
  color: #fff;
  line-height: 1.8;
  color: #154360;
}

.mission-part {
  padding: 7% 15%;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

#title .nav-link {
  color: #154360;
  text-align: center;
}

a:link {
  color: rgb(149, 167, 150);
}

a:visited {
  color: rgba(105, 57, 216, 0.548);
}
a:hover {
  color: rgba(46, 86, 216, 0.322);
}

#title .nav-item:hover {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.87), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  background-color: rgba(216, 216, 216, 0.253);
}
/*.hOverImg .right {
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
}
.hOverImg:hover .right,
.hOverImg.active .right {
	-moz-transform: translateX(0);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
*/

/* About Us Section */

.about-maddy {
  background-color: #82E0AA;
}

.about-karo {
  background-color: #ABEBC6;
}

.about-sonnet {
  background-color: #BCE6EA;
}

.about-kate {
  background-color: #85C1E9;
}

.aboutus-text {
  font-size: 1.5rem;
  line-height: 1.75;
}

.aboutus-img {
  width: 25%;
  margin: 20px;
}

 /* footer */
.social-icon {
  margin: 20px 10px;
}


/* reduce your carbon footprint section */

#what {
  text-align: left;
  background-color: #BCE6EA;
}

@media (max-width: 1028px) {
  #what {
    text-align: center;
  }
}

.video {
  width: 100%;
}

#what p {
  padding: 15px 10px 0px 0px;
}

#how {
  text-align: left;
  background-color: #85C1E9;
}

#how .section-sub-heading {
  padding: 5% 0%;
}

#how p {
  padding: 5%;
  font-size: 1.25rem;
}

.option {
  background-color: #fff;
  padding: 2%;
  margin: 20px;

}

/* Contact */
#contact {
  padding: 5% 0 0;
  position: relative;
  background-color: #154360;
}

.contact-section {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 900;
}

.contact {
  font-weight: 400;
}

iframe {
  position: sticky;
  top: 0px;
  float: right;
  width: 400px;
  height: 300px;
}
body {
    cursor: url("l.cur"), default;
}
a {
    cursor: url("select.cur"), default;
}
pointer {
    cursor: url("hleaf.cur"), default;
}